/* Colors */

$basic-black: #000000;
$basic-white: #ffffff;
$basic-blue: #56CCF2;
$basic-blue-middle: #2F80ED;
$basic-blue-dark: #15499F;
$basic-blue5: #2B74B9;
$basic-yellow: #F9ED37;
$basic-yellow-dark: #E9B026;
$basic-orange-dark: #D0A63F;

$button-bg: rgba(0, 0, 0, 0.3);

/* Fonts */

$basic-regular: "Myriad Pro Regular", "Arial", sans-serif;
$basic-semibold: "Myriad Pro Semibold", "Arial", sans-serif;
$basic-bold: "Myriad Pro Bold", "Arial", sans-serif;

/* Viewports */

$tablet-width: 1024px;
$desktop-width: 1920px;

$body-min-width: 360px;
