.basic-button {
  min-height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $button-bg;
  color: $basic-white;
  font-family: $basic-bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  border: 5px solid $basic-white;
  box-sizing: border-box;
  border-radius: 40px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    font-size: 28px;
    line-height: 34px;
    border-radius: 40px;
  }
}

.basic-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 320px;
  min-height: 58px;
  border: 10px solid $basic-yellow;
  box-sizing: border-box;
  filter: blur(10px);
  border-radius: 40px;

  @media (min-width: $tablet-width) {
    width: 650px;
    min-height: 80px;
  }
}

.basic-button--main {
  width: 320px;
  margin-top: -40px;

  @media (min-width: $tablet-width) {
    width: 650px;
    margin-top: -70px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
