.main-nav {
  width: 100%;
  height: 38px;
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}

.main-nav__menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 30px;
  }
}

.main-nav__toggle {
  width: 40px;
  height: 38px;
  cursor: pointer;
  border: none;
  background: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 8px;
  background-color: $basic-white;
  border-radius: 2px;
  box-shadow: 0 15px 0 0 $basic-white, 0 30px 0 0 $basic-white;
}

.main-nav__menu-item a {
  color: $basic-white;
  font-family: $basic-bold;
  font-size: 28px;
  line-height: 34px;
}

.main-nav__menu-item a:hover {
  color: $basic-blue;
}

.main-nav__menu-item--active a {
  color: $basic-blue;
}

.main-nav__social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 23px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }
}

.main-nav__social-item {
  width: 20px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}
