.page-header {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  height: 1030px;
}

.page-header__toggle {
  width: 40px;
  height: 38px;
  cursor: pointer;
  border: none;
  background: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
